.sidebar-container {
  position: relative;

  .toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    transition: all 0.3s ease;

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;
    }
  }

  &.open .toggle-button {
    top: 20px;
    left: 162px;
    transform: translateX(100%);

    img {
      transform: rotate(180deg);
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: -150px;
    width: 216px;
    height: 100vh;
    background-color: #1e293b;
    color: #fff;
    padding: 55px 20px 40px 20px;
    transition: left 0.3s ease;
    z-index: 1000;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 18px;

        &:hover {
          color: #60a5fa;
        }
      }
    }

    &.collapsed-sid {
      padding: 55px 11px 40px 20px;
    }
  }

  &.open .sidebar {
    left: 0;
  }
}
