.account-page {
  display: flex;
  transition: padding-left 0.3s ease;

  h1{
    font-size: 30px;
  }


  .container {
    flex: 1;
    padding-left: 0;
    transition: padding-left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &.sidebar-open .main-content {
    padding-left: 186px;
  }
}
